<div class="main_content_header">
    <div class="marketing_profile">
        <div class="back_forward_icon">
            <button><i class="fa-solid fa-angle-left"></i></button>
            <button><i class="fa-solid fa-angle-right"></i></button>
            <% if(title == "search-content"){ %>
                <div class="search_song">
                    <input type="text" placeholder="Search Song">
                </div>
            <% } %>
        </div>
        

        <div class="marketing">
            <button class="premium hover_came_out button white_button">
                Explore Premium
            </button>

            <button class="install_app hover_came_out button">
                Install APP
            </button>

            <button class="bell hover_came_out button">
                <i class="fa-solid fa-bell"></i>
            </button>

            <button class="profile hover_came_out button">
                <i class="fa-solid fa-user"></i>
            </button>
        </div>
    </div>

</div>
