<div class="home_content">
                    
    <%- include('music-pod.ejs') %>

    <div class="recentsongs_cards">

        <div class="user_section section" style="display: flex; flex-direction: column; gap: 10px;">

            <%- include("madeForYou") %>
            
            <%- include("recent_songs" , {recentSongs}) %>

            <%- include("most_viewed", { mostViewedSongs }) %>
        </div>
        
    </div>

</div>