<div class="home-search">
    <div class="home_button full_opac">
        <form class="home" action="/home">
            <label for="home_link" class="icon"><i class="fa-solid fa-house"></i></label>
            <div class="home_link" id="home_link">
                <button type="submit" class="link">Home</button>
            </div>
        </form>
    </div>
    <div class="search_button full_opac">
        <form class="search" action="/search" method="GET">
            <label for="search_link" class="icon"><i class="fa-solid fa-magnifying-glass"></i></label>
            <div class="search_link" id="search_link">
                <!-- <a class="link" href="#">search</a> -->
                <button type="submit" class="link">Search</button>
            </div>
        </form>
    </div>
</div>

<form action=""></form>