<div class="home_content">
                    
    <%- include('music-pod.ejs') %>

    <div class="recentsongs_cards">

        <div class="user_section section">
            <div class="section_title">
                Made for Sahil Jain
            </div>

            <div class="artists_cards">
                <div class="card" artist_name="Honey Singh">
                    <img class="card-img-top" src="./assets/honeysingh" alt="">
                    <div class="card-body">
                        <div class="card-title">
                            Honey Singh
                        </div>
                        <div class="card-text">
                            India's Most popular Rapper
                        </div>
                    </div>

                </div>

                <div class="card" artist_name="Badshah">
                    <img class="card-img-top" src="./assets/badshah.jpeg" alt="">
                    <div class="card-body">
                        <div class="card-title">
                            Badshah
                        </div>
                        <div class="card-text">
                            Gyan
                        </div>
                    </div>

                </div>

                <div class="card" artist_name="AR Rahman">
                    <img class="card-img-top" src="./assets/ar_rahman.jpeg" alt="">
                    <div class="card-body">
                        <div class="card-title">
                            AR Rahman
                        </div>
                        <div class="card-text">
                            Musician
                        </div>
                    </div>

                </div>

                <div class="card" artist_name="Krsna">
                    <img class="card-img-top" src="/assets/krsna.jpg" alt="">
                    <div class="card-body">
                        <div class="card-title">
                            Krsna
                        </div>
                        <div class="card-text">
                            Kalamkaar Presents
                        </div>
                    </div>

                </div>

                <div class="card" artist_name="Harsh_Likhari">
                    <img class="card-img-top" src="./assets/harsh_likhari.jpeg" alt="">
                    <div class="card-body">
                        <div class="card-title">
                            Harsh Likhari
                        </div>
                        <div class="card-text">

                        </div>
                    </div>

                </div>
                
                
            </div>
            
            <%- include("recent_songs" , {recentSongs}) %>
        </div>


        
    </div>

</div>