<div class="libraries">
    <div class="search_library_recent_artists">
        <div class="recent_search">
            <button class="icon hover_effect full_opac search_library" id="search_library">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>


            <button class="recent full_opac" id="recent">
                <span>Recent</span>
                <div class="recent_icon icon">
                    <i class="fa-solid fa-ellipsis-vertical" style="margin: 2px;"></i>
                    <i class="fa-solid fa-bars"></i>
                </div>
            </button>
        </div>

        <div class="library_list">
            <% for(library of libraries){ %>
                
                    <button class="artist_library" title="<%= library.title %>" style="background-color: rgba(0,0,0,0); border: none;">
                        <div class="artist_icon">
                            <img class="artist_library_image"
                                src=<%= library.imageSrc %>
                                alt="">
                        </div>
                        <div class="artist_title_sub">
                            <div class="library_artist_title">
                                <%= library.title %>
                            </div>
                            <div class="library_artist_sub">
                                <%= library.subTitle %>
                            </div>
                        </div>
                    </button>
                <!-- </form> -->
            <% } %>
        </div>
    </div>
</div>