<div class="bottom_library">
    <div class="album_artists_pod">
        <button class="artist button rounded-pill">
            Artists
        </button>

        <button class="album button rounded-pill">Album</button>

        <button class="prodcast button rounded-pill">
            Prodcasts & Shows
        </button>

        <!-- <button class="expand rounded-pill">
            <i class="fa-solid fa-forward"></i>
        </button> -->
    </div>

</div>
</div>