<div class="music_pod">
    <button class="all button hover_effect white_button">
        All
    </button><button class="music_section button hover_effect">
        Music
    </button><button class="podcast_section button hover_effect">
        Podcast
    </button>
</div>