<div class="most_viewed_section section" style="height: auto;"></div>
    <div class="section_title">
        Recently Played
    </div>

    <div class="artists_cards" style="display: flex; flex-wrap: wrap;">
        <% for(song of recentSongs){ %>
            <%- include('../partials/song_card_square', { song: song }) %>
        <% }%>
    </div>

</div>