<div class="recent_section section">
    <div class="section_title">
        Recent Songs
    </div>

    <div class="artists_cards">

        <%- include("song_card.ejs" , {song : "no_cap" , description:"Kalamkaar"}) %>

        <%- include("song_card" ,{song:"Hauli_Hauli" , description : "khel khel main"}) %>
        
        <%- include("song_card" ,{song:"likhari_name" , description : "Harsh Likhari"}) %>
        
        
    </div>

</div>