<div class="recent_section section">
    <div class="section_title">
        Searches
    </div>

    <div class="artists_cards">
        <!-- here we will put the card of the song that has been searched -->
    </div>

</div>