<div class="recent_section section search-section">
    <div class="section_title">
        Searches
    </div>

    <div class="artists_cards">

        <% for(song of songs){ %>
            <%- include('../partials/song_card_square', { song: song }) %>
        <% } %>
    </div>

</div>