body {
    background-color: black;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow: hidden;
    height: max-content;
}

.main {
    display: flex;
    justify-content: space-between;
}

.sidebar,
.second-section {
    height: 98vh;
    background-color: #121212;
    border-radius: 20px;
    margin: 6px;
    position: relative;
}

.sidebar {
    /* width: 30vw; */
    min-width: 300px;
    background-color: black;
}

@media(min-width:1100px) {
    .sidebar {
        width: 20vw;
    }
}

.second-section {
    width: 80vw;
    /* overflow: auto; */
}

.player {
    background-color: #121212;
    height: 10%;
    width: 100%;
    border-radius: 0 0 20px 20px;
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 30px;
}

.player .curr_song , .player .player_helper_controls{
    height: 100%;
    width: 25%;
}

.player_helper_controls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.player_helper_controls .more{
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;

}

#volume_control{
    outline: none;
}

.player_helper_controls div{
    display: flex;
    align-items: center;
}

.player .actual_player{
    height: 100%;
    width: 50%;
}

.player_controls{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.player_controls i{
    cursor: pointer;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    height: 40%;
    opacity: 0.4;
    color: white;

    width: 39px;
    border-radius: 50%;
}

.player_controls i.previous_song , .player_controls i.next_song{
    opacity: 0.7;
    height: 55%;
}

.player_controls i.play_song{
    opacity: 1;
    font-size: 25px;
    height: 35px;
    margin: 2px;
}

.progress_bar{
    height: 40%;
    width: 100%;
    display: flex;
}



input{
    width: 76%;
    height: 4px;
    margin: 9px;
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    background: grey;
    cursor: pointer;
}
.progress_bar figure{
    margin: 0;
}

.progress_bar .time_stamp{
    text-align: center;
    width: 12%;
    color: white;
}
.content {
    position: relative;
    top: 0;
    background-color: #121212;
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 20px 20px;
}

.home-search {
    position: absolute;
    top: 0;
    background-color: #121212;
    height: 20%;
    width: 100%;
    /* margin-top: auto; */
    border-radius: 20px;
}

.library {
    position: absolute;
    bottom: 0;
    background-color: #121212;
    height: 79%;
    width: 100%;
    border-radius: 20px;
}

.home_button {
    position: relative;
    height: 50%;
    width: 100%;
    background-color: none;
    border-radius: 10px 10px 0 0;
    /* display: flex; */
    padding: 10px;
    opacity: 0.7;
}

.search_button {
    position: relative;
    height: 50%;
    width: 100%;
    opacity: 0.7;
    background-color: none;
    border-radius: 10px 10px 0 0;
    /* display: flex; */
    padding: 10px;
}

.home {
    display: flex;

}

.home button , .search button{
    background-color: #121212;
    border: none;
    font-weight: 500;
    color: white;
    margin-left: 10px;
}

.search {
    display: flex;
}

.your_library {
    /* background-color: red; */
    height: 20%;
    width: 100%;
    position: absolute;
    top: 0;

}

.your_library .header {
    /* background-color: blue; */
    height: 50%;
    width: 100%;
    position: absolute;
    top: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.your_l_add_ex {
    height: 90%;
    width: 90%;
    /* background-color: aqua; */
}

.yourlibrary {
    position: absolute;
    left: 0;
    /* background-color: green; */
    height: 31.5px;
    width: 70%;
    display: flex;
    opacity: 0.7;
}

.yourlibrary img {
    height: 25px;
}

#Your_library_link {
    padding: 3px;
}

#your_library_button{
    background-color: #121212;
    border: none;
    border-radius: 20px;
}


.add-expand {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
    height: 31.5px;
    width: 30%;
    max-width: 85px;
}

.your_l_add_ex {
    width: 100%;
    position: relative;
}

.your_library .add_button,
.your_library .expand_button , .your_library .show_like_button {
    /* background-color: yellow; */
    /* height: 20px;
    width: 20px; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: white;
    background-color: #121212;
    border: none;
}

.your_library .add_button i,
.your_library .expand_button i {
    height: 20px;
    width: 20px;
}


#home_link {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home_link a {
    padding: 10px;
}

#search_link {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_link a {
    padding: 10px;
}

.expand_sidebar {
    width: 45vw !important;
}

.shrik_main_content {
    width: 55vw;
}

.bottom_library {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    display: flex;

}

.album_artists_pod .expand {
    background-color: #151515dd;
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.3);
    position: absolute;
    right: 0;
    width: 40px;
}

.bottom_library .button:hover {
    background-color: rgba(127, 127, 127, 0.4);
}

.bottom_library {
    padding: 10px;
}

.album_artists_pod {
    position: relative;
    display: flex;
    gap: 7px;
    width: 98%;
}

.libraries {
    padding: 0 1.5%;
}

.search_library_recent_artists {
    position: absolute;
    bottom: 0;
    height: 80%;
    width: 97%;
    border-radius: 20px;
    padding: 5px;
}

.recent_search {
    width: 100%;
    height: 8.5%;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: space-between;
}

.search_library {
    opacity: 0.7;
    background: none;
    border: none;
    margin: 0 !important;
    padding: 0;
    height: 32.7px;
    width: 32.7px;
    border-radius: 50%;
}

.recent {
    margin: 0;
    padding: 0;
    opacity: 0.7;
    background-color: #121212;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 35;
    width: 150px;
    width: 78px;
}

.recent span{
    font-weight: 500;
}



.library_list {
    border-radius: 0 0 20px 20px;
    height: 91.5%;

    overflow-y: auto;

}

.library_list::-webkit-scrollbar {
    width: 0;
}


.main_content_header{
    position: sticky;
    top: 0;
    width: 100%;
    height: 10%;
    min-height: 60px;
}

.marketing_profile{
    height: auto;
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    padding: 15px;
}

.back_forward_icon{
    width: 68%;
    display: flex;
    gap: 5px;
}

.marketing_profile button{
    height: 37.13px;
}

.back_forward_icon button{
    width: 37.13px;
    border-radius: 50%;
    background-color: #2e2b2b;
    border: none;
    font-size: large;
    font-weight: 500;
    color: white;
}

.marketing{
    position: absolute;
    right: 20px;
    display: flex;
    gap: 15px;
    
}

.marketing button{
    height: 34px;
    background-color: #2e2b2b;
    color: white;
    font-size: 14px;
    font-weight: 500;
    border: none;
    padding: 2px 10px;
    border-radius: 20px;
}



.marketing .profile{
    outline: 2px solid white;
}

.marketing .bell{
    opacity: 0.7;
}

.music_pod{
    z-index: 100;
    position: sticky;
    top: 0;
    background-color: #121212;
    height: 10%;
    min-height: 60px;
    width: 100%;
    padding:15px;
    display: flex;
    gap: 10px;
}

@media (max-width: 1020px){
    .marketing .premium{
        display: none;
    }
}


.home_content , .content-search{
    position: relative;
    height: 90%;
    width: 100%;
    overflow-y: auto;
}

.home_content::-webkit-scrollbar , .content-search::-webkit-scrollbar{
    width: 0;
}

.artists_cards::-webkit-scrollbar{
    width: 0;
}

.artists_cards{
    display: flex;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    overflow-y: hidden;
    padding: 10px;
    gap: 7px;
}

.player{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.player figure{
    padding:0;
    margin: 0;
    margin-top: 6px;
}

#song_range::-webkit-slider-thumb  , #volume_control::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: white; /* Thumb color */
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.curr_song{
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
.curr_song_img{
    width: 60px;
    height: 60px;
    margin: 5px 10px;
}

.curr_song_img img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
}
.curr_song .curr_song_detail{
    width: 60%;
    height: 50px;
    display: flex;
    flex-direction: column;
}

@media (max-width:965px){
    .curr_song .curr_song_detail{
        display:none;
    }
}

.curr_song .curr_singers{
    width: 170px;
    display: flex;
    overflow-x: auto;
}

.curr_song .curr_singers::-webkit-scrollbar{
    height: 0;
}

input[type="text"]{
    color: white;
    letter-spacing: 1px;
    background-color: #2e2b2b;
    outline: none;
    padding-left: 10px;
    cursor: text;
}

.search_song{
    /* background-color: blue; */
    width: 40%;
    height: 40px;
    /* height: 80%; */
    margin: 0 18px;
}

.search_song input{
    height: 100%;
    margin: 0;
    border: none;
    border-radius: 20px;
    font-size: large;
}


.content-library h1 , .likedSongs h1{
    padding: 0 10px;
    color: rgb(225, 217, 217);
    background-color: (0, 0, 0, 0.5)
}


.search-section{
    height: auto !important;
}

.likedSongs{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow-y: auto;
}